<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletTest1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <!-- Test1Servlet test1 = new Test1Servlet() -->
  	<servlet-name>test1</servlet-name>
  	<servlet-class>Test1Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test1</servlet-name>
  	<url-pattern>/test1</url-pattern>
  </servlet-mapping>
  
<!-- ***************************************************** -->
  <servlet>
  	<servlet-name>test2</servlet-name> <!-- 변수명  --> 
  	<servlet-class>sungjukServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test2</servlet-name>
  	<url-pattern>/sungjuk</url-pattern> <!-- 사용자가 쓰는 주소명  -->
  </servlet-mapping>
  
<!-- ***************************************************** -->
  <servlet>
  	<servlet-name>test3</servlet-name> <!-- 변수명  --> 
  	<servlet-class>Test3Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test3</servlet-name>
  	<url-pattern>/paramValues</url-pattern> <!-- 사용자가 쓰는 주소명  -->
  </servlet-mapping>
  
<!-- ***************************************************** -->
  <servlet>
  	<servlet-name>test0</servlet-name> <!-- 변수명  --> 
  	<servlet-class>Test0Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test0</servlet-name>
  	<url-pattern>/test0</url-pattern> <!-- 사용자가 쓰는 주소명  -->
  </servlet-mapping>
  
<!-- ***************************************************** -->  
  <servlet>
  	<servlet-name>test4</servlet-name> <!-- 변수명  --> 
  	<servlet-class>LifeCycleTest</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test4</servlet-name>
  	<url-pattern>/test4</url-pattern> <!-- 사용자가 쓰는 주소명  -->
  </servlet-mapping>
  
<!-- ***************************************************** -->  
  <servlet>
  	<servlet-name>test5</servlet-name> <!-- 변수명  --> 
  	<servlet-class>RequestHeaderInfo</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test5</servlet-name>
  	<url-pattern>/test5</url-pattern> <!-- 사용자가 쓰는 주소명  -->
  </servlet-mapping>
</web-app>
